html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.mainSquare {
  background: #2d2c4d66;
  min-width: 1000px;
  height: 100%;
  width: 70%;
  box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, .15), 0px 3px 0px 0px rgba(255, 255, 255, .15);
  border: 4px rgba(29, 29, 27, .15) solid;
  border-radius: 12px;
  margin: 0 auto
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.titleImg {
  image-rendering: crisp-edges
}

.admin-text {
  font-weight: 900;
  background: linear-gradient(135deg, #FFD700 5%, #FFED4E 25%, #C5A028 60%, #FFD700 85%, #FFED4E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.admin-text::before {
  content: "👑";
  line-height: 5px;
  position: relative;
  top: -2px;
}

.word-box {
  background: linear-gradient(90deg, transparent 0%, #ffffff55 50%, transparent 100%);
  padding: 8px 16px;
  margin: 8px;
  display: inline-block;
  width: 100%;
  position: relative;
}

.word-box .secret-word {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
}

.word-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, transparent 0%, #ffffff88 50%, transparent 100%);
}

.word-box::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, transparent 0%, #ffffff88 50%, transparent 100%);
}

.guesses-box {
  background: #2e2e2e22;
  padding: 8px 16px;
  margin: 8px;
  display: inline-block;
  width: 100%;
  position: relative;
  border-radius: 10px;
  box-shadow: inset -1px -2px 0px rgba(255, 255, 255, .2), inset 0px 0px 5px rgba(255, 255, 255, .3);
}

.guesses-header {
  font-weight: bold;
  margin-bottom: 8px;
  display: flex;
  color: white;
  white-space: nowrap;
  align-items: center;
}

.guesses-header .left-line,
.guesses-header .right-line {
  height: 2px;
  width: 100%;
  flex-grow: 1;
}

.left-line {
  background: linear-gradient(90deg, transparent 0%, #ffffff88 100%);
  margin-right: 8px;
}

.right-line {
  background: linear-gradient(90deg, #ffffff88 0%, transparent 100%);
  margin-left: 8px;
}

.guesses-list {
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  /* background : radial-gradient(circle, #d1d1d149 0%, #97979711 80%, #75757505 100%); */
  background: linear-gradient(90deg, #75757515 0%, #d1d1d122 10%, #d1d1d155 50%, #d1d1d122 90%, #75757515 100%);
  text-align: left;

}

.guesses-list-item {
  font-size: 18px;
  margin: 4px 0;
  padding: 2px 8px;
  line-height: 30px;
  font-weight: 600;
}

.guesses-list-item::before {
  content: "● ";
  font-size: 20px;
  color: rgb(56, 56, 56);
}

.guesses-list-item:nth-child(odd) {
  background: #ffffff09;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}